<h3><div id="fullName" align="center" data-showTenantLandlord="<%= params['landlord_id'] %>" data-showTenantProp="<%= params['property_id'] %>" data-showTenantTenant="<%= params['id'] %>"></div></h3>

Lives in: <%= link_to @tenant.property.fulladdress, landlord_property_path %> 
