<div id="fullName"></div>


<script type="text/javascript" charset="utf-8">


	function Tenant(rawJson) {
		this.firstName = rawJson.firstname
		this.lastName = rawJson.lastname 
	};

	Tenant.prototype.name = function() {
		return this.firstName + " " + this.lastName;
	};

	let request = $.getJSON('http://localhost:3000/landlords/<%= "#{params['landlord_id']}" %>/properties/<%= "#{params['property_id']}" %>/tenants/<%= "#{params['id']}" %>.json', function(data) {
		let tenant = new Tenant(data);
		$("#fullName").text('Showing details for ' + tenant.name());
	});

</script>