Showing details for:

<%= @tenant.fullname %>


<div id="fullName"></div>


<script type="text/javascript" charset="utf-8">
		let request = $.getJSON('/landlords/' + <%= "#{params['landlord_id']}" %> + '/properties/' + <%= "#{params['property_id']}" %> + '/tenants/' + <%= "#{params['id']}" %> + '.json')
</script>