<h3><div id="fullName" align="center" data-landlord="<%= params['landlord_id'] %>" data-prop="<%= params['property_id'] %>" data-tenant="<%= params['id'] %>"></div></h3>

Lives in: <%= link_to @tenant.property.fulladdress, landlord_property_path %> 
